* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-color: #ffffff;
  padding: 30px;
  height: 100vh;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(#e5293e, #ffffff);
  border-radius: 10px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  height: 100%;
  width: 100%;
  padding: 50px;
}

img {
  width: 80%;
  margin-right: 100px;
}

.content-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
